.content {
  background-color: #212121;
  // background-image: url("../images/card_hand.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

.game-board {
  flex: 1 0 auto;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
}

.viewport {
  flex: 0 0 0;
  display: flex;
  align-items: stretch;
}

.row-flex {
  flex: 1 0 0px;
  display: flex;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
}
