body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../images/poker_table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body,
#root {
  height: 100%;
}

@import "~bootstrap/scss/bootstrap";
@import "./HeartsGames.scss";
@import "./Card.scss";
@import "./Player.scss";
@import "./Slide.scss";
@import "./Trick.scss";

.background-color {
  background-color: #212121;
}

.heart-color {
  color: red;
}

.sick-days-warning {
  background-color: green !important;
  font-weight: bold !important;
}

// Styles to be imported only for web
html.web {
  @import "./web-overrides.scss";
}

// Styles to be imported only for mobile
html.mobile {
  @import "./mobile-overrides.scss";
}
