.player {
  text-align: center;
  color: #e0e0e0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.player--west,
.player--east {
  flex-direction: row;
  align-items: center;
}

.player__name {
  flex: 0 0 auto;
}

.player--west .player__name,
.player--north .player__name {
  order: 2;
}

.player .hand {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: monospace;
}

.player--west .hand,
.player--north .hand {
  order: 1;
}

.player--west .hand,
.player--east .hand {
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 5.858em;
}

.player--north .hand,
.player--south .hand {
  min-height: 5.858em;
}

.player__name--disabled {
  display: none;
}

.player--east .hand,
.player--west .hand,
.player--north .hand {
  display: flex;
}

.player--south .card,
.player--north .card {
  margin-left: -0.1em;
  padding-left: 0.1em;
}

.player--west .card,
.player--east .card {
  direction: rtl;
  display: block;
  height: 1.8em;
  width: 2.929em;
  border: 1px solid black;
  border-radius: 5px 10px;
  margin-top: -0.1em;
  padding-top: 0.1em;
}

.player--south .card:hover,
.player--south .card--toggled {
  transform: translate(0, -0.25em);
}

.player--south .card {
  cursor: pointer;
}

.player--north .card--toggled {
  transform: translate(0, 0.25em);
}

.player--west .card--toggled {
  transform: translate(0.25em, 0);
}

.player--east .card--toggled {
  transform: translate(-0.25em, 0);
}
